# Dependencies
node_modules
.pnpm-store

# Build
.next
out
build
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile*
docker-compose*
.dockerignore

# CI/CD
.drone.yml
.github

# Misc
README.md
*.md
.DS_Store
Thumbs.db

